body, html {
    background-color: rgb(209, 202, 202);
}
.OT_subscriber {
    float: left;
    margin-left: 10%;



}
.OT_publisher {
    float: left;
    margin-left: 10%;
    width:  10%;
    
}
.error {
    color: red;
}

